@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Sfondo semi-trasparente */
    z-index: 9999; /* Assicura che il loader sia sopra gli altri elementi */
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img{
    width: 10%;
    height: auto;
    animation: spin 2s linear infinite;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
html{
    scroll-behavior: smooth;
    cursor: default;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

body,section,main{
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    /*background-color: #333030;*/
    color: rgb(10, 10, 10);
    width: 100%;
    height: 10vh;
    /*border-bottom: 2px solid #ffffff;*/
    z-index: 5;
    transition: 0.1s ease;
    background: #ffffff;
    border-bottom: 2px solid #CF1622;
}

#logo{
    width: 20%;
    height: auto;
    margin: 0 5%;
    display: flex;
}

#logo-scritta, #logo-mobile, #hamburger-menu, #nav-mobile{
    display: none;
}

#logo img{
    width: 90%;
}

header ul{
    display: flex;
    list-style: none;
    margin: 0 5%;
}

header ul li{
    padding: 5px;
    font-size: 1.2rem;
    position: relative;
    border: 1px solid transparent;
    margin: 0 0 0 15px;
    color: rgb(10, 10, 10);
    transition: 0.2s;
}


header ul li:hover:not(.contatti_nav){
    color: #8C131A;
    transform: scale(1.1);
}

header .contatti_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CF1622;
}

header .contatti_nav{
    color: white;
}

header .contatti_nav:hover{
    background-color: #8C131A;
}

.contatti_nav img{
    padding-left: 10px;
    width: 25%;
}

header ul .this_page{
    border-bottom: 2px solid #333030;
}

#background{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-top: 15vh;
}

#logo-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
}

#logo-section div{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#logo-section div #paragrafo{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#paragrafo h3{
    font-size: 1.8rem;
    margin-bottom: 1%;
}

#paragrafo p{
    font-size: 1.4rem;
}

#logo-section div img{
    width: 15%;
    height: auto;
    padding: 2%;
}

.scopri{
    width: 25%;
    font-size: 2rem;
    height: auto;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #CF1622;
    min-width: 200px;
    transition: 0.2s;
}

.scopri:hover{
    background-color: #8C131A;
}

#ce{
    position: relative;
    margin-top: 5vh;
    background-color: #333030;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

#ce::before{
    position: absolute;
    content: "";
    background-image: url("Immagini/ce.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 100px;
    right: 20%;
    top: 20%;
}

#ce h3{
    font-size: 2.2rem;
    margin: 30px 0 10px 0;
    color: #ffffff;
    margin-left: 5%;
}

#ce p{
    font-size: 1.1rem;
    color: #ffffff;
    width: 50%;
    margin: 40px 0;
    margin-left: 5%;
}

#impianto, #cantiere, #spedizioni_consegne, #dove-siamo {
    scroll-margin-top: 75px;
}

#background, #text-info, #history, #evidenza {
    scroll-margin-top: 15vh;
}

#spedizioni_consegne{
    position: relative;
    margin-top: 5vh;
    width: 100%;
    height: auto;
    background: rgb(50,48,48);
    background: linear-gradient(90deg, rgba(50,48,48,1) 0%, rgba(207,22,34,1) 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    
}

#spedizioni_consegne::after{
    content: "";
    position: absolute;
    background-image: url("Immagini (webp)/camion.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 95%;
    bottom: 0;
    right: 0;
}

#spedizioni_consegne h3{
    font-size: 2.2rem;
    margin: 40px 0 10px 0;
    margin-left: 5%;
}

#spedizioni_consegne p{
    font-size: 1.1rem;
    width: 50%;
    margin: 50px;
    margin-left: 5%;
}

#accesso-fotogallery{
    margin: 10vh auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-div-gallery{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.container-div-gallery a{
    width: 20%;
    color: black;
}

.container-div-gallery div{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #a5a5a5;
}

.card-gallery img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-gallery p{
    margin: 30px auto;
}

#accesso-fotogallery p a{
    color: #8C131A;
    font-size: 1.2rem;

}

#accesso-fotogallery > p{
    margin: 5vh auto;
}




/*PAGINA AZIENDA*/

#history{
    background-color: #333030;
    color: #fff;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
}

#history div{
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    font-size: 1.1rem;
    margin: 30px 0;
}

.description{
    text-align: center;
}
 #history .description span{
    font-size: 1.7rem;
    font-weight: bold;
    color: #CF1622;
 }

.first:before{
    content:"1957";
    font-family: 'Skranji', cursive;
    font-size: 6rem;
    position: absolute;
    bottom: 10vh;
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0.5;
    color: #CF1622;
}

.second::before{
    content:"";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: -3vw;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.second::after{
    content:"";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    right: -3vw;
    opacity: 0.5;
    transform: translate(50%, -50%);
    background-color: #fff;
}


#produzione{
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

#produzione::before{
    content: "";
    position: absolute;
    bottom: 20px;
    right: -100px;
    width: 30%;
    height: 35vh;
    background-image: url('Immagini/cataloghi.png');
    background-size: cover;
}

#produzione >*{
    font-size: 1.4rem;
}

#produzione ul, #produzione p{
    margin: 5vh 0;
    list-style-type: square;
}

#produzione p a{
    color: #8C131A;
}
#produzione p a:hover{
    color: #333030;
}

#cantiere{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url("Immagini/azienda2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 30%;
    color: #fff;
    margin-top: 10vh;
    display: flex;
    
}

#cantiere .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Colore nero semitrasparente (adjust alpha per la trasparenza) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    
}

#cantiere h3{
    font-size: 2.2rem;
    margin: 30px auto
}

#cantiere p{
    font-size: 1.2rem;
    margin: 30px auto
}

#impianto{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 5% 0;
}

#impianto h3{
    font-size: 2.2rem;
}

#impianto p{
    font-size: 1.3rem;
    margin-top: 5vh;
}

#impianto .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
}

#impianto .container div{
    width: 30%;
    height: 40vh;
    background-size: cover;
}

#impianto .container div:nth-child(1){
    background-image: url("Immagini/macchinario.jpg");
    background-position: center;
}

#impianto .container div:nth-child(2){
    background-image: url("Immagini/silos.jpg");
}

#impianto .container div:nth-child(3){
    background-image: url("Immagini/Immagine\ 008.jpg");
    background-position: right;
}

#fotogallery a{
    color: #CF1622;
} 

#fotogallery a:hover{
    color: #333030;
}


/* PAGINA PRODOTTI */
#evidenza{
    position: relative;
    margin: 0 auto 10vh auto;
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#evidenza::before{
    content: "In Evidenza!";
    letter-spacing: 1px;
    position: absolute;
    font-size: 1.5rem;
    padding: 10px 15px;
    color: #fff;
    background-color: #8C131A;
    top: -15px;
    right: -15px;
    
}

#evidenza div{
    width: 32%;
}

#evidenza .description{
    height: 100%;
    background-color: #333030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 20px;
}

#evidenza .description p{
    margin: 5vh 0;
    padding: 20px;
    line-height: 30px;
}

#evidenza .description button{
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    background-color:#8C131A;
    transition: 0.2s;
}

#evidenza .description button:hover{
    background-color: #fff;
    color:#8C131A;
}

#evidenza .images{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4%;
}

#evidenza .images .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#evidenza .images div{
    width: 100%;
    height: 48%;
}

#evidenza .images .posa{
    background-image:url("Immagini/Splittato.jpeg");
    background-size: cover;
    background-position: center;
}
#evidenza div:nth-child(3){
    height: 100%;
    background-image:url("Immagini/bifaccia.jpeg");
    background-size: cover;
    background-position: center;
}

#section_prodotti{
    width: 90%;
    height: 600px;
    display: flex;
    margin: 120px auto;
}

.buttons_prodotti{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons_prodotti .btn{
    font-size: 1.5rem;
    opacity: 0.7;
    transition: all .2s ease;

    &:hover{
        opacity: 1;
        cursor: pointer;
        transform: translateX(10px);
    }
}

.container_prodotti{
    width: 80%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.container_prodotti .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#muratura {
    background-image: url('Categoria/costruzione.webp');
}

#recinzione{
    background-image: url('Categoria/recinzione.webp');
    background-position: top;
}

#anelli{
    background-image: url('Categoria/anelli-pozzetti.webp');
}

#chiusini{
    background-image: url('Categoria/chiusini.webp');
    background-position: top;
}

#fognatura{
    background-image: url('Categoria/fognatura.webp');
    background-position: top;
}

#stradale{
    background-image: url('Categoria/stradale.webp');
}

.content .pr{
    width: 60%;
    height: 80%;
    background-color: #333030;
    opacity: 0.7;
    transition: opacity .2s ease;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;

    &:hover{
        opacity: 1;
    }
}

.content .pr p{
    color: #fff;
    line-height: 30px;
}

.cover{
    z-index: 2;
}

.pr h1{
    color: #fff;
}

.button_pdf{
    background-color: #333030;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 10px;
    height: auto;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
}


.button_pdf:hover{
    background: #fff;
    color: #333030;
}

#section_prodotti a{
    text-decoration: none;
}





/* PAGINA CONTATTI */
#text-info{
    margin: 20vh auto 10vh auto;
    text-align: center;
    max-width: 80%;
    font-size: 1.3rem;
}

#icons{
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#icons .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
    color:black;
}

#main-info{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #333030;
    margin: 10vh 0;
    padding: 40px 0;
}

#main-info h2{
    text-align: center;
}

form{
    margin: 20px auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 10vw;
}

label{
    margin: 20px 0;
    font-size: 1.3rem;
}

label input[type = "checkbox"]:checked{
    background-color: #CF1622;
}

label.check_privacy a{
    color: #CF1622;
    border-bottom: 1px solid;
}

input:not([type = "checkbox"]){
    background-color: transparent;
    border: 2px solid #fff;
    padding: 5px 0;
    color: #fff;
    margin: 5px 0;
    font-family: 'Noto Sans', sans-serif;
    
}

input[type = 'submit']{
    background-color: #fff;
    color:#333030;
    width: 15vw;
    font-size: 1.4rem;
    padding: 5px 0;
    cursor: pointer;
    align-self: flex-end;
}

label textarea{
    width: 40vw;
    height: 20vh;
    border: 2px solid #fff;
    background-color: transparent;
    margin: 5px 0;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

#dove-siamo{
    width: 100%;
    height: auto;
    display: flex;
}

#dove-siamo h2{
    margin-bottom: 10px;
}

#dove-siamo div{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* PAGINA FOTOGALLERY */

#sections-fotogallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

#sections-fotogallery .card-foto{
    position: relative;
    height: 45vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}

#sections-fotogallery .card-foto:nth-child(1){
    background-image: url('Immagini/azienda.jpg'); 
}

#sections-fotogallery .card-foto:nth-child(2){
    background-image: url('Immagini/Immagine\ 008.jpg'); 
}

#sections-fotogallery .card-foto:nth-child(3){
    background-image: url('Immagini/fotogallery2.JPG');
    background-position: 50% 30%; 
}

#sections-fotogallery .card-foto:nth-child(4){
    background-image: url('Immagini/cataloghi-prodotti.JPG');
}
.card-foto{
    overflow: hidden;
}

.card-foto .overlay h2{
    transition: .2s;
}

.card-foto .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Colore nero semitrasparente (adjust alpha per la trasparenza) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    cursor: pointer;

    &:hover.overlay h2{
        transform: scale(1.2);
    }
}

#category-foto{
    position: relative;
    scroll-margin-top: 10vh;
    margin: 2vh auto;
}

#category-foto div{
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Imposta la larghezza minima e massima della colonna */
    grid-gap: 10px; /* Spazio tra le immagini */
    grid-auto-rows: 1fr;
}

#category-foto div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

i.fa-arrow-up{
    content: "";
    position: absolute;
    left: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #fff;
}

/* PRIVACY */
#container-privacy{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 130px;
}

/* FOOTER */
footer{
    background-color: #333030;
    width: 100%;
    height: auto;
    margin-top: 5vh;
    color: #fff;
}

footer .info-aziendali div:last-child{
    text-align: right;
}

footer li{
    list-style: none;
}

footer .info-aziendali{
    display: flex;
    color: #ffffff;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 25px;
    border-bottom: 1px solid #fff;
    padding: 20px;
}

footer .info-aziendali div{
    margin: 0 10px;
}

footer .info-pagine{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .info-pagine ul{
    display: flex;
}

footer .info-pagine ul li{
    margin: 0 10px;
}

footer .info-pagine a{
    color: #fff;
}


footer div img{
    width: 80%;
    height: auto;
    margin: 15px 0;
}

footer div ul{
    list-style: none;
}

footer div ul li a{
    color: #ffffff;
}

footer a:hover{
    color:#a5a5a5;
}

@media only screen and (max-width: 1024px) {

    /* HOME */
    header{
        height: 110px;
        padding: 0 7%;
    }

    header ul{
        display: none;
    }  

    #impianto, #cantiere, #spedizioni_consegne, #category-foto, #dove-siamo {
        scroll-margin-top: 90px;
    }

    #logo{
        width: 40%;
        margin: 0;
    }

    #logo-bianco{
        position: absolute;
        top: 3vh;
        left: 5%;
        align-items: center;
        width: 50px;
        margin: 0;
        z-index: 6;
        transition: 0.2s ease;
    }

    #hamburger-menu{
        display: block;
        margin-top: 10px;
        z-index: 6;
    }

    #hamburger-menu span{
        display: block;
        margin-bottom: 10px;
        width: 40px;
        height: 4px;
        background-color: #8C131A;
        transition: 0.2s ease;
    }

    .active-hamburger span{
        transform-origin: center;
        transform: rotate(-25deg);
        background-color: #fff !important;
    }

    #nav-mobile{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        background: rgb(167, 168, 171);
        background: linear-gradient(0deg, rgb(167, 168, 171) 0%, rgba(47,44,44,1) 100%);
        transform: translateX(100%);
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    #nav-mobile.show{
        opacity: 1;
        transform: translateX(0);
    }

    #nav-mobile ul{
        display: flex;
        margin-top: 10vh;
        justify-content: center;
        flex-direction: column;
    }

    #nav-mobile ul li{
        margin: 10px 0;
    }

    #nav-mobile ul li .active{
        border-bottom: 2px solid #fff;
    }

    #nav-mobile ul li a{
        color: #fff;
        font-size: 2rem;
    }

    #background{
        width: 100%;
        margin-top: 110px;
    }

    #logo-section div #paragrafo h3{
        font-size: 1.2rem;
    }

    #logo-section div #paragrafo p{
        font-size: 1.1rem;
    }

    #logo-section div img{
        width: 20%;
    }

    #logo-section div #paragrafo .scopri{
        font-size: 1.5rem;
    }

    #accesso-fotogallery{
        margin: 2vh auto;
    }

    .container-div-gallery a {
        width: 80%;
        color: black;
        margin: 0 auto;
    }

    .container-div-gallery{
        column-gap: 30px;
    }

    .card-gallery img{
        width: 100%;
        height: 10vh;
        object-fit: cover;
    }

    /* AZIENDA */

    #history{
        flex-direction: column;
        margin-top: 100px;
    }

    #history div{
        width: 80%;
        margin: 20px auto;
    }

    div.second::after, div.second::before{
        display: none;
    }

    #produzione{
        width: 70%;
    }

    #produzione::before{
        display: none;
    }

    #impianto{
        width: 90%;
    }

    #impianto p{
        font-size: 1.1rem;
    }

    p#fotogallery{
        text-align: center;
    }

    #impianto .container div{
        height: 20vh;
    }

    /* PRODOTTI RESPONSIVE TABLET */
    #evidenza{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    #evidenza div{
        width: 100%;
    }

    #evidenza .description p{
        margin: 5px auto;
    }

    #evidenza div:last-child{
        display: none;
    }

    #evidenza .images{
        height: 30vh;
    }

    #evidenza .images .video{
        width: 100%;
        height: 100%;
    }

    #section_prodotti{
        margin-top: 150px;
        flex-direction: column;
    }

    .buttons_prodotti{
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .buttons_prodotti .btn{
        font-size: 1rem;

        &:hover{
            transform: translate(0, -5px);
        }
    }

    .container_prodotti{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .container_prodotti .content .pr{
        opacity: 0.9;
        width: 80%;
    }

    .container_prodotti .button_pdf{
        background-color: #fff;
        color: #333030;
    }

    /* CONTATTI RESPONSIVE TABLET */
    #text-info{
        margin: 15vh auto 5vh auto;
    }

    #icons{
        width: 100%;
    }

    #icons .container img{
        width: 130px;
    }

    form{
        gap: 0 5vw;
    }

    label{
        font-size: 1rem;
    }

    #icons{
        width: 90%;
    }

    #dove-siamo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #dove-siamo div{
        width: 100%;
        margin: 2vh auto;
    }

    #dove-siamo div iframe{
        width: 100%;
    }

    #dove-siamo div:nth-child(1){
        width: 90%;
    }

    /* FOTOGALLERY RESPONSIVE TABLET */
    #sections-fotogallery{
        margin-top: 110px;
    }

}


@media only screen and (max-width: 767px) {
    /* HOME RESPONSIVE TELEFONO */
    header{
        height: 90px;
    }

    #logo{
        display: none;
    }

    #background{
        width: 90%;
        margin-top: 15vh;
    }

    #logo-mobile{
        display: flex;
        align-items: center;
        width: 30px;
        margin: 0;
    }

    #nav-mobile ul li a{
        font-size: 1.5rem;
    }

    #logo-scritta{
        display: block;
        margin: 5vh auto;
        width: 50%;
        height: auto;
    }

    #logo-section div{
        flex-direction: column;
    }

    #logo-section div img{
        width: 30%;
        padding: 0;
        margin: 20px;
    }

    #logo-section div{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    #logo-section div #paragrafo{
        order: 2;
        text-align: center;
    }

    #logo-section div #paragrafo p{
        text-align: center;
    }

    .scopri{
        margin-top: 20px;
    }

    #ce{
        flex-direction: column;
        align-items: center;
        padding-bottom: 15vh;
    }

    #ce:before{
        right: 50%;
        top: 80%;
        transform: translateX(50%);
    }

    #ce h3, #ce p{
        text-align: center;
        margin: 4vh auto;
    }

    #ce h3{
        font-size: 1.8rem;
    }

    #ce p{
        width: 80%;
    }

    #spedizioni_consegne{
        align-items: center;
    }

    #spedizioni_consegne h3{
        margin: 0;
        font-size: 1.8rem;
    }

    #spedizioni_consegne p{
        margin: 5vh 0;
        width: 75%;
        text-align: center;
    }

    #spedizioni_consegne::after{
        display: none;
    }

    .container-div-gallery{
        row-gap: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .container-div-gallery div{
        width: 90%;
        height: auto;  
        margin: 0 auto;
    }

    .card-gallery img{
        height: 30vh; 
    }

    /* AZIENDA RESPONSIVE TELEFONO */
    #history{
        margin-top: 90px;
    }

    #impianto{
        margin-top: 5vh;
    }

    #produzione >*{
        font-size: 1.2rem;
    }

    #impianto h3{
        font-size: 2rem;
    }

    #impianto .container{
        flex-direction: column;
    }

    #impianto .container div{
        width: 70%;
        height: 25vh;
        margin: 15px auto;
    }
    
    #cantiere{
        background-position: center;
    }

    #cantiere p{
        width: 90%;
    }

    /* PRODOTTI RESPONSIVE TELEFONO */
    #evidenza::before{
        font-size: 1rem;
        top: -10px;
    }

    #evidenza .description h2{
        margin-top: 2vh;
    }

    #section_prodotti{
        width: 100%;
        margin-top: 120px;
        height: 800px;
    }

    .buttons_prodotti{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .buttons_prodotti .btn{
        margin: 10px auto;
        font-size: 1.5rem;
    }

    .container_prodotti{
        width: 100%;
    }

    .container_prodotti .content .pr p{
        font-size: .8rem;
        line-height: 20px;
    }


    /* CONTATTI RESPONSIVE TELEFONO */
    #text-info{
        max-width: 90%;
        font-size: 1rem;
    }

    #icons{
        flex-direction: column;
        align-items: center;
        gap: 40px 0;
    }

    #icons .container{
        row-gap: 20px;
    }

    input:not([type = "checkbox"]){
        width: 30vw;
    }

    label textarea{
        width: 70vw;
    }

    /* FOTOGALERY MOBILE */
    #sections-fotogallery{
        flex-direction: column;
        margin-top: 90px;
    }

    #sections-fotogallery .card-foto{
        width: 100%;
        height: 23vh;
    }

    footer{
        flex-direction: column;
    }

    .info-aziendali{
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
    }

    .info-aziendali div{
        width: 100%;
    }

    footer .info-aziendali div:last-child{
        text-align: left;
    }

    footer .info-pagine{
        flex-direction: column;
        row-gap: 30px;
    }

    .info-pagine p{
        text-align: center;
    }
}














